@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Londona";
  src: url("../fonts/Londona.woff2") format("woff2"),
    url("../fonts/Londona.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.london {
  font-family: "Londona";
}

.bolb {
  border-radius: 68% 32% 49% 51% / 64% 30% 70% 36%;
}
